<style>
    .container {
        display: flex;
    }

    #pvpJoinView .modes div {
        height: 13rem;
    }
</style>
<div class="container" id="pvpJoinView">
    <div>
        <h1>Statki</h1>
        <h2>Autoryzacja</h2>
        <div class="modes">
            <div>
                <p>Podaj kod wysłany do Twojej skrzynki e-mail</p>
                <form action="/api/auth" method="post">
                    <input type="text" name="code" placeholder="Kod" style="font-size: 1rem;" minlength="8" maxlength="10" autocomplete="off">
                    <input type="submit" value="Zaloguj się">
                </form>
            </div>
        </div>
    </div>
</div>