<div class="cover">
    <h1>Łączenie...</h1>
</div>

<div class="container" id="gameView">
    <div>
        <h1>Statki</h1>
        <div class="panelContainer">
            <div class="shapes">
                <div class="ownBoardInfo">
                    <h3>Wybrany statek</h3>
                    <h2 class="dynamic" id="selectedShip">Jednomasztowiec</h2>
                    <h3>Dostępne: <span class="dynamic danger" id="shipsLeft">1</span></h3>
                </div>
                <span class="break"></span>
                <h2>Sterowanie</h2>
                <h3 class="controlsOwnBoard"><span class="important">S</span> Zmiana statku</h3>
                <h3 class="controlsOwnBoard"><span class="important">R</span> Obrót statku</h3>
                <h3><span class="important">B</span> Zamiana planszy</h3>
                <span class="break"></span>
                <h3><span class="dynamic" id="whosTurn"></span></h3>
                <h2 class="important" id="timer">∞</h2>
            </div>
            <div class="boardContainer">
                <div id="board" oncontextmenu="return false;"></div>
                <div id="secondaryBoard" class="secondary" oncontextmenu="return false;"></div>
            </div>
            <div class="spaceFiller"></div>
        </div>
    </div>
</div>

<script src="/assets/js/battleships-lib.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/key-handling.js"></script>
<script src="/assets/js/socket-game.js"></script>