<style>
    .container {
        display: flex;
    }

    #pvpJoinView .modes div {
        height: 7rem;
    }
</style>
<div class="container" id="pvpJoinView">
    <div>
        <h1>Statki</h1>
        <h2>Logowanie</h2>
        <div class="modes">
            <div>
                <form action="/api/login" method="post">
                    <input type="email" name="email" placeholder="Adres e-mail" style="font-size: 1rem;">
                    <input type="submit" value="Przejdź dalej">
                </form>
            </div>
        </div>
    </div>
</div>