<style>
    .title {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: var(--dynamic);
        
        transition: opacity 0.3s;
    }

    a:hover {
        opacity: 0.6;
        text-decoration: underline;
    }
</style>
<h1 class="title">Statki - Privacy Policy</h1>
<h2>1. Who we are</h2>
<p>
    When referencing to "us" we mean the developer(s) of Statki - An online multiplayer browser game at statki.mcjk.cc. We do not work commercially and are not related to any company.
</p>

<h2>2. Data we collect</h2>
<p>
    All of the data we collect is used for functionality features. Some is provided by you and some is collected automatically.
</p>

<h3>3. Information you provide us:</h3>
<p>
    - Account information: E-mail address, nickname.<br>
    - Settings, this includes: Preffered language.<br>
    - Information from actions taken by you: Matches you have played (which includes: your opponent, duration of the match, date of the match, your match statistics)<br>
    - Optional information: Badges you own - they are shown on your profile and strictly associated with it, you can obtain them optionally from various events. This includes the badge type and the achievement date.<br>
</p>

<h3>4. Information collected automatically:</h3>
<p>
    - Information about your device (IP address, browser version, device operating system, device language)<br>
    - Information on how you use our service. How often you visit the website, on which page.
</p>

<h2>5. Our use of your data</h2>
<p>We use your data only to provide you with services. We do not share it with third parties, nor use it for advertising.</p>

<h2>6. Your control over your data</h2>
<p>
    We allow you to modify or request complete removal of the data associated with your account.<br>
    <ul>
        <li>To change your nickname, log in to Statki, click the settings button in the top right hand corner and click 'Change nickname' under where your current nickname is displayed.</li>
        <li>To change the e-mail address you use to log in to your account, message <a href="mailto:biz@mcjk.cc">biz@mcjk.cc</a>.</li>
        <li>To remove your account data completely, message <a href="mailto:biz@mcjk.cc">biz@mcjk.cc</a>.</li>
    </ul>
</p>