<style>
    .container {
        display: flex;
    }

    #pvpJoinView .modes div {
        height: 11rem;
    }
</style>
<div class="container" id="pvpJoinView">
    <div>
        <h1>Statki</h1>
        <h2>Konfiguracja profilu</h2>
        <div class="modes">
            <div>
                <p>Twój nickname będzie widoczny dla innych graczy</p>
                <form action="/api/nickname" method="post">
                    <input type="text" name="nickname" placeholder="Nazwa użytkownika" style="font-size: 1rem;">
                    <input type="submit" value="Zatwierdź">
                </form>
            </div>
        </div>
    </div>
</div>