<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statki</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,600;1,600&family=Roboto+Mono:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/board.css">
    <style>
        .modes {
            display: flex;
            gap: 2rem;
        }

        .modes div {
            height: 10rem;
            width: 10rem;
            background: black;
            border: solid 1px white;
            border-radius: 15px;
            user-select: none;
            cursor: pointer;
            transition: all 0.3s;
        }

        .modes div:hover {
            background: white;
            color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Statki</h1>
            <h2>PvP</h2>
            <div class="modes">
                <div id="create">
                    <h2>Stwórz</h2>
                    <p>Stwórz własny pokój</p>
                </div>
                <div id="join">
                    <h2>Dołącz</h2>
                    <p>Dołącz do czyjegoś pokoju poprzez kod</p>
                </div>
            </div>

            <span class="designerTag">Designed by Maciejka</span>
            <script>
                $("#create").on("click", function() {
                    $("body").css("opacity", "0");
                    setTimeout(() => {
                        window.location.href = "/pvp/create";
                    }, 300);
                });

                $("#join").on("click", function() {
                    $("body").css("opacity", "0");
                    setTimeout(() => {
                        window.location.href = "/pvp/join";
                    }, 300);
                });
            </script>
        </div>
    </div>
</body>
</html>