@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 820px) {
    .boardContainer {
        width: 90vw;
        aspect-ratio: 1;
    }

    .panelContainer {
        flex-direction: column-reverse;
    }

    .field {
        width: 7.5vw; /* still need to test that */
    }
}

