::-webkit-scrollbar {
    display: none;
}

.container {
    display: none;
    transition: opacity 0.175s;
}

#themeBackground {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.6;
    transition: opacity 1s;
}

.username {
    background: white;
    background-clip: text !important;
    color: transparent;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.tippyTemplate {
    display: none;
}

@keyframes OutAnim {
    from {transform: translateY(0); filter: blur(0px); opacity: 1;}
    to {transform: translateY(3rem); filter: blur(10px); opacity: 0.4;}
}

@keyframes InAnim {
    from {transform: translateY(-3rem); filter: blur(10px); opacity: 0.4;}
    to {transform: translateY(0); filter: blur(0px); opacity: 1;}
}

.bshipstoast {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 15px;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    margin: 0.5rem;
    font-family: 'Roboto Mono', monospace;
}

nav span {
    cursor: pointer;
    user-select: none;
    padding: 0.2rem;
}

nav .item {
    width: 12rem;
}

nav span:hover {
    text-decoration: underline;
}

#shopButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--masts-color);
}

nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}

.header {
    text-align: center;
}

/* index */
#mainMenuView .modes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#mainMenuView .modes div {
    height: 10rem;
    width: 10rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

#mainMenuView .modes div:hover {
    background-color: white;
    color: black;
}

/* PvP/index */
#pvpMenuView .modes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#pvpMenuView .modes div {
    height: 10rem;
    width: 10rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

#pvpMenuView .modes div:hover {
    background-color: white;
    color: black;
}

/* PvP/create */
#pvpCreateView .modes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#pvpCreateView .modes div {
    width: 15rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    border-radius: 15px;
    user-select: none;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#pvpCreateView input, #pvpCreateView button {
    background-color: var(--element-bg);
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    outline: none;
    transition: opacity 0.2s;
}

#pvpCreateView button {
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

#pvpCreateView button:hover {
    background-color: white;
    color: black;
}

/* PvP/join */
#pvpJoinView .modes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#pvpJoinView .modes div {
    height: 7rem;
    width: 15rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    border-radius: 15px;
    user-select: none;
    padding: 2rem 3rem;
}

#pvpJoinView form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pvpJoinView form input {
    background-color: var(--element-bg);
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    outline: none;
}

#pvpJoinView form input[type=submit] {
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

#pvpJoinView form input[type=submit]:hover {
    background-color: white;
    color: black;
}

/* Preparation */
#preparingGame .modes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#preparingGame .modes div {
    height: 13rem;
    width: 11rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    border-radius: 15px;
    user-select: none;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#preparingGame .modes div * {
    margin: 0;
    width: 100%;
}

/* Profile */
#profileView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileView .profile {
    display: flex;
    margin: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 45vw;
    justify-content: space-between;

    gap: 1rem;
}

#profileView .accountinfo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
}

#xpbooststatus {
    display: none;
    color: var(--mark-ship-valid)
}

#profileView .progress-container {
    width: 100%;
    background-color: var(--accent-bg);
    border-radius: 5px;
    overflow: hidden;
    height: 5px;
}

#profileView .levelContainer {
    user-select: none;
}

#profileView .levelContainer span {
    display: block;
    margin-bottom: 0.5rem;
}

#profileView .progress-bar {
    height: 100%;
    background-color: var(--accent-main);
    border-radius: 5px 0 0 5px;
}

#profileView .stats {
    display: flex;
    gap: 1rem;
    width: 60vw;
    flex-wrap: wrap;
}

#profileView .matchList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 2;

    user-select: none;
}

#profileView .matchList::-webkit-scrollbar {
    display: none;
}

#profileView .matchList .match {
    background-color: var(--element-bg-alt);
    border-radius: 15px;
    cursor: pointer;
    padding: 0.7rem;

    height: 5rem;
    overflow: hidden;

    transition: height 0.4s;
}

#profileView .matchList .match .xpincrease {
    font-size: 0.75rem;
    color: var(--ship-valid);
}

#profileView .matchList .match .statsButton {
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1) 20%, rgba(0, 0, 0, 0) 40%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
    margin-bottom: 1rem;

    background-position: 60%;
    background-size: 400%;
    background-repeat: no-repeat;
    transition: background-position 0.9s;
}

#profileView .matchList .match:hover {
    height: 12rem;
}

#profileView .matchList .match:hover .statsButton {
    background-position: 0%;
}

#profileView .matchList .match div h1 {
    margin: 0;
}

#profileView .matchList .match div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

#profileView .matchlist .match div span {
    color: white;
    font-size: 0.8rem;
    line-height: 1rem;
}

#profileView .periodical {
    flex: 1;
}

#profileView .periodical .stat {
    margin-bottom: 1.5rem;
}

#profileView .periodical .stat h1 {
    margin: 0.5rem;
}

/* Settings */

#settingsView label {
    font-size: 1.2rem;
}

#settingsView select {
    padding: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    color: white;
    border-radius: 15px;
    outline: none;
    margin-left: 2rem;
}

#settingsView a {
    text-decoration: none;
    color: var(--dynamic);
    
    transition: opacity 0.3s;
}

#settingsView a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

#settingsView .versionInfo {
    margin-top: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

#settingsView button {
    background-color: var(--element-bg);
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    text-align: center;
    padding: 0.5rem 2rem;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

#settingsView button:hover {
    background-color: white;
    color: black;
}

#logout, #news {
    color: var(--danger);
    cursor: pointer;

    transition: opacity 0.3s;
}

#logout:hover, #news:hover {
    opacity: 0.6;
}

#news {
    color: var(--dynamic);
}

/* PvE */
#vsAiView .modes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#vsAiView .modes div {
    /* height: 7rem; */
    width: 15rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    border-radius: 15px;
    user-select: none;
    padding: 2rem 3rem;
}

#vsAiView form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#vsAiView form input {
    background-color: var(--element-bg);
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    outline: none;
}

#vsAiView form input[type=submit] {
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

#vsAiView form input[type=submit]:hover {
    background-color: white;
    color: black;
}

#vsAiView select {
    padding: 0.5rem 1rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: var(--element-bg);
    border: solid 1px white;
    color: white;
    border-radius: 15px;
    outline: none;
}

/* Shop */
#shopView .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60rem;
    gap: 1rem;
    margin: 3rem 0;
}

#shopView .items .item,
.lootboxModal .item {
    width: calc(33% - 2rem);
    /* height: 10rem; */
    aspect-ratio: 1.8;
    background-color: var(--ship-miss);
    border-radius: 15px;
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    transition: transform 0.3s ease-in-out;
}

.lootboxModal .item {
    min-width: 15rem;
    width: 80%;
}

@keyframes glowAnimation {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

#shopView .items .item:before,
.lootboxModal .item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* background: linear-gradient(90deg, rgba(119, 31, 235, 0.7), rgba(3, 20, 175, 0.7), rgba(16, 92, 155, 0.7)); */
    background-image: linear-gradient(90deg, var(--gradient-colors));
    background-size: 300%;
    z-index: -1;
    transition: filter 0.75s ease-in-out, opacity 0.5s ease-in-out;
    filter: blur(0px) brightness(125%);
    opacity: 0;

    animation: glowAnimation infinite ease-in-out alternate 4s;
}

/* #shopView .items .item:hover {
    transform: translateY(-0.3rem);
} */

#shopView .items, .lootboxModal {
    user-select: none;
}

#shopView .items .item:hover:before,
#shopView .items .item.checkout:before,
.lootboxModal .item:before {
    filter: blur(25px);
    opacity: 1;
}

#shopView .items .item .background,
.lootboxModal .item .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    border-radius: 15px;
}

#shopView .items .item .overlay,
.lootboxModal .item .overlay {
    height: 40%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    z-index: 1;
    display: flex;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    border-radius: 15px;
    transition: height 0.3s, background-color 0.3s ease-in-out;
}

#shopView .items .item:hover .overlay,
.lootboxModal .item .overlay {
    height: 60%;
}

#shopView .items .item .overlay .overlayBase,
.lootboxModal .item .overlayBase {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: opacity 0.2s;
}

.lootboxModal .item .overlay .overlayBase h2 {
    font-size: 0.85rem;
    margin: 0;
}

#shopView .items .item .overlay .overlayBase h1,
.lootboxModal .item .overlay .overlayBase h1 {
    font-size: 1rem;
    margin: 0;
}

#shopView .items .item .overlay .overlayBase p,
.lootboxModal .item .overlay .overlayBase p {
    margin: 0;
    font-size: 0.7rem;
    text-wrap: nowrap;
}

#shopView .items .item .overlay .overlayBase:last-child button {
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    background-color: white;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 1px white, 0 0 0 1px var(--masts-color-accent);
    cursor: pointer;
    transition: box-shadow 0.3s;
}

#shopView .items .item .overlay .overlayBase:last-child button:hover {
    box-shadow: 0 0 5px 1px white, 0 0 10px 2px var(--masts-color-accent);
}

#shopView .items .item.checkout .overlay {
    height: 100%;
}

#shopView .items .item .overlay .checkoutBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    z-index: 2;
    transition: opacity 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    gap: 0.5rem;
}

#shopView .items .item .overlay .finishBox {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    z-index: 3;
    transition: opacity 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopView .items .item .overlay .checkoutBox * {
    margin: 0;
}

#shopView .items .item .overlay .checkoutBox h2 {
    font-size: 0.9rem;
}

#shopView .items .item .overlay .checkoutBox span {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#shopView .items .item .overlay .checkoutBox span.masts {
    font-size: 0.8rem;
    color: var(--masts-color);
    font-weight: bold;
    margin-left: 0.5rem;
}

#shopView .items .item .overlay .checkoutBox button {
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

#shopView .items .item .overlay .checkoutBox button:hover {
    color: black;
    background-color: white;
}

#shopView .items .item .overlay .checkoutBox div {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

#shopView .items .item .overlay .checkoutBox button.cancelCheckout {
    border: 1px solid var(--danger);
    color: var(--danger);
}

#shopView .items .item .overlay .checkoutBox button.cancelCheckout:hover {
    color: white;
    background-color: var(--danger);
}

#shopView .items .item .overlay .checkoutBox button.buyItem {
    border: 1px solid var(--mark-ship-valid);
    color: var(--mark-ship-valid);
}

#shopView .items .item .overlay .checkoutBox button.buyItem:hover {
    color: black;
    background-color: var(--mark-ship-valid);
}

#shopView .items .item.checkout .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

#shopView .items .item.checkout .overlay div {
    opacity: 0;
}

#shopView .items .item.checkout .overlay .checkoutBox {
    opacity: 1;
    pointer-events: initial;
}

#shopView .items .item.checkout .overlay .checkoutBox div {
    opacity: 1;
}

#shopView .items .item.finished .overlay .checkoutBox {
    opacity: 0;
    pointer-events: none;
}

#shopView .items .item.finished .overlay .finishBox {
    opacity: 1;
}

/* Inventory */
#inventoryView .controls {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#inventoryView .items {
    display: flex;
    width: 75vw;
    gap: 1rem;
    margin: 2rem 0;
    justify-content: center;
    flex-wrap: wrap;
}

#inventoryView .items .item {
    width: 25%;
    min-width: 17rem;
    aspect-ratio: 2;
    background: var(--element-bg-alt);
    border-radius: 15px;
    overflow: hidden;

    position: relative;

    user-select: none;
}

#inventoryView .items .item .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    z-index: 1;
}

#inventoryView .items .item .content * {
    margin: 0;
}

#inventoryView .items .item .content h2 {
    font-size: 1rem;
}

#inventoryView .items .item .content h1 {
    font-size: 1.5rem;
}

#inventoryView .items .item .content span {
    font-size: 0.8rem;
}

#inventoryView .items .item .options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(20px);

    transition: opacity 0.3s;
}

#inventoryView .items .item .options button {
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mark-ship-valid);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    color: var(--mark-ship-valid);
    cursor: pointer;
    transition: all 0.3s;
}

#inventoryView .items .item .options button:hover {
    color: black;
    background-color: var(--mark-ship-valid);
}

#inventoryView button {
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

#inventoryView button.danger {
    border: 1px solid var(--danger);
    color: var(--danger);
}

#inventoryView button:hover {
    color: black;
    background-color: white;
}

#inventoryView button.danger:hover {
    color: white;
    background-color: var(--danger);
}

#inventoryView .items .item:hover .options  {
    opacity: 1;
    pointer-events: initial;
}

/* News modal */

.newsModalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s;
}

.newsModalContainer .newsModal {
    width: 30rem;
    max-width: 90%;
    background-color: var(--element-bg);
    border: solid 1px white;
    height: 85%;

    display: flex;
    flex-direction: column;

    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border-radius: 15px;

    transform: translateY(10%);

    transition: transform 0.3s;
}

.newsModalContainer .newsModal h2 {
    margin: 0;
    opacity: 0.7;
    font-weight: 500;
    font-style: italic;
}

.newsModalContainer .newsModal h3 {
    margin: 0;
}

.newsModalContainer .newsModal a {
    text-decoration: none;
    color: var(--dynamic);

    transition: opacity 0.3s;
}

.newsModalContainer .newsModal a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.newsModalContainer.active {
    pointer-events: initial;
    opacity: 1;
}

.newsModalContainer.active .newsModal {
    transform: translateY(0%);
}

/* Please don't judge this, it works... */
.newsModalContainer.unactive .newsModal {
    transform: translateY(-10%);
}

.newsModalContainer.unactive {
    pointer-events: none;
    opacity: 0;
}

.newsModalContainer .newsModal .actualText {
    margin-top: 1rem;
    overflow-y: scroll;
}

.newsModalContainer .newsModal .actualText::-webkit-scrollbar {
    display: none;
}

/* Lootbox opening modal */

.lootboxOpenContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s;
}

.lootboxOpenContainer .lootboxModal {
    max-width: 90%;
    background-color: var(--element-bg-alt);
    border: solid 1px white;
    width: 25rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border-radius: 15px;

    transform: translateY(10%);

    transition: transform 0.3s;
}

.lootboxOpenContainer .lootboxModal h1 {
    margin: 0;
    margin-bottom: 2rem;
}

.lootboxOpenContainer.active {
    pointer-events: initial;
    opacity: 1;
}

.lootboxOpenContainer.active .lootboxModal {
    transform: translateY(0%);
}

.lootboxOpenContainer.unactive .lootboxModal {
    transform: translateY(-10%);
}

.lootboxOpenContainer.unactive {
    pointer-events: none;
    opacity: 0;
}