@media only screen and (max-width: 1550px) {
    #profileView .matchList .match:hover {
        height: 14rem;
    }
}

@media only screen and (max-width: 1279px) {
    #profileView .stats  {
        flex-direction: column-reverse;
    }

    #profileView .profile {
        width: auto;
        justify-content: center;
        text-align: center;
    }

    #profileView .matchList .match {
        height: 5rem;
    }

    #profileView .matchList .match:hover {
        height: 12rem;
    }

    #matchView .matchup {
        width: 100vw;
        flex-direction: column;
    }

    #matchView .matchup h1 {
        font-size: 1.5rem;
    }

    #shopView .items {
        width: 90vw;
    }

    #shopView .items .item {
        width: calc(50% - 2rem);
    }
}

@media only screen and (max-width: 995px) {
    #profileView .matchList .match:hover {
        height: 14rem;
    }

    nav div {
        flex-direction: column;
        gap: 0rem;
    }
}

@media only screen and (max-width: 820px) {
    #pvpCreateView .modes div {
        max-width: 90vw;
        padding: 2rem 1.5rem;
    }

    #pvpJoinView .modes div {
        max-width: 90vw;
        height: 8rem;
        padding: 2rem 1.5rem;
    }

    #profileView .matchList .match {
        height: 7rem;
    }

    #profileView .matchList .match .xpincrease {
        display: none;
    }

    #profileView .stats {
        width: 90vw;
    }

    #profileView .match div {
        flex-direction: column;
    }

    #profileView .matchList .match .statsButton {
        font-size: 1.3rem;
    }

    #shopView .items .item {
        width: 100%;
    }

    :root {
        --social-tab-collapsed-width: 0rem;
    }

    .socialButton {
        display: initial;
    }

    .social .collapsed {
        overflow: hidden;
    }

    .social .expanded {
        min-width: calc(100vw - 2rem);
    }

    .chatBox {
        width: calc(100vw);
    }

    .social:hover, .social:has(*:focus) {
        width: var(--social-tab-collapsed-width);
        transform: none;
    }

    .social:hover~.sitecontent, .social:has(*:focus)~.sitecontent {
        transform: none;
        filter: none;
        pointer-events: initial;
    }

    .social.active {
        width: calc(100vw + var(--social-tab-collapsed-width));
        transform: translateX(calc(var(--social-tab-collapsed-width) * -1));
    }

    .social.active~.sitecontent {
        transform: none;
        filter: blur(10px) brightness(50%);
        pointer-events: none;
    }

    .social:hover~#themeBackground {
        opacity: .6;
    }

    .social.active~#themeBackground {
        opacity: .3;
    }

    #closeSocialTab {
        display: initial;
    }
}

@media only screen and (max-width: 580px) {
    #profileView .matchList .match:hover {
        height: 16rem;
    }
}